.signup {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sInput{
    height: 30px;
    padding: 10px;
}

.sButton{
    border: none;
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.sButton.disabled{
    border: none;
    padding: 10px 20px;
    background-color: rgb(178, 125, 228);

    cursor: not-allowed;
}