.newbook{
    display: flex;
    width: 100%;

    .newbookContainer{
        flex: 6;

        .topbook, 
        .bottombook{ 
            margin: 20px;
            padding: 10px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            display: flex;

            h1{
                color: lightgray;
                font-size: 20px;
            }

            .leftbook{
                flex: 1;
                text-align: center;
                
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .rightbook{
                flex: 2;
                padding: 0px 20px;

                form{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 40px;
                    justify-content: space-between;

                    .formInputbook{
                        width: 40%;

                        label{
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .iconbook{
                                cursor: pointer;
                            }
                        }

                        input{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                        }
                    }

                    .btnbook{
                        width: 200px;
                        padding: 10px;
                        border: none;
                        color: white;
                        background-color: teal;
                        font-weight: bold;
                        cursor: pointer;
                        margin-top: 10px;
                    }
                }
            }
        }

        
    }
}